/* Root Styles */

:root{
  --darkgray: #454545;
  --white: #FFFFFF;
  --pink: #c002ff;
  --darkPink: #ac02ff;
}

body{
  /* font-family: "Azeret Mono", monospace; */
}


/* Template Styles */
.text-pink{
  color: var(--pink);
}

.btn-pink{
  background-color: var(--pink);
  color: var(--white);
}

.btn-pink:hover{
  background-color: var(--darkPink);
  color: var(--white);
}

a{
  color: var(--pink);
}

a:hover{
  color: var(--darkPink);
}

.btn.disabled{
  opacity: .5;
}

.fs-s{
  font-size: .75rem;
}

small{
  font-size: .75rem;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--darkgray);
  position: relative;
}


