:root{
    --darkgray: #454545;
    --white: #FFFFFF;
    --pink: #c002ff;
    --darkPink: #ac02ff;
  }

.controls{
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, 0);
    
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: .75rem;
}

.controls button{
    margin: 0 .5rem 0 .5rem;
    opacity: .75;
}